__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
.env
.venv
venv/
ENV/
_r_source/
.idea/
.vscode/
*.swp
*.swo
*~
